<div class="pure-menu">
	  <span class="pure-menu-heading">Up & Dash</span>
		<ul class="pure-menu-list">
			<li class="pure-menu-item">
				<%= link_to('Log In', login_path, {class: 'pure-menu-link' })%>
		</li>
	</ul>
</div>