<div class="pure-g">
  <div id="index-menu" class="pure-u-1-8">
      <div class="pure-menu pure-menu-open">
        <a class="pure-menu-heading"><h3><strong>Up And Running Dashboard</strong></h3></a>
        <ul class='remove-bullets-li'>
            <li class="pure-menu-heading">Add Or Remove A Widget</li>
            <li><a href="#">Airbnb</a></li>
            <li><a href="#">Recipe</a></li>
            <li id='removeallwidgets'><a href="#">Remove All Widgets</a></li>
            <li class="pure-menu-heading">About</li>
            <li><a href="#">Github Project Page</a></li>
            <li><a href="#">OMG!</a></li>
        </ul>
      </div>
     <!--  <div class="light-grey-background text-center">
        <p>By Corey Ghilarducci</p>
      </div> -->
  </div>

  <div class="pure-u-7-8">
    <div class="container widget-holder">
      <div class="gridster">
          <ul class='list-widgets'>
    <!-- li data-row refers to the row number; data col refers to how many columns it will take up; x refers to the x-axis; y refers to the y-axis-->
    <% if current_user == nil %>
      <li class="widget-app overflow" id"1" data-row="2" data-col="3" data-sizex="4" data-sizey="4">
        <h1>Please Sign In Or Sign Up</h1></li>
    <% end %>
    <% if current_user != nil %>
          <% if current_user.airbnb_widget == true%>
              <li class='widget-app overflow' id="2" data-row="3" data-col="2" data-sizex="2" data-sizey="2">
                <%= render "airbnbs/airbnbs_search" %>
              </li>
          <% end %>
              <li class='widget-app overflow' id="0" data-row="1" data-col="1" data-sizex="2" data-sizey="3">
                <%= render "recipe/search" %>
              </li>
    <% end %>
          </ul>
      </div>
    </div>
  </div>

</div>
