<div class="h10"></div>
<div class="airbnb_places container">
  <img class="resize-icon inline" src="https://raw.githubusercontent.com/cghil/widget_app/master/public/airbnb_symbol.png">
  <h2 class="inline">Airbnb</h2>
  <% Airbnb.get_rentals %>
</div>