<div class="h10"></div>
<div class="airbnb_places">
  <div class="row">
    <div class="logo col-sx-3"> <img class="resize-icon" src="https://raw.githubusercontent.com/cghil/widget_app/master/public/airbnb_symbol.png"> </div>
    <div class="col-sx-9"><h3>Airbnb</h3> </div>
  </div>
  <% Airbnb.get_rentals %>
</div>