/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require base
 *= require buttons
 *= require forms
 *= require grids-core
 *= require grids-responsive
 *= require grids-units
 *= require grids
 *= require menus
 *= require menus-core
 *= require menus-dropdown
 *= require menus-horizontal
 *= require menus-skin
 *= require menus-scrollable
 *= require pure
 *= require tables
 *= require font-awesome
 *= require_self
 */

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 200;
  src: local('Raleway ExtraLight'), local('Raleway-ExtraLight'), url(http://fonts.gstatic.com/s/raleway/v9/8KhZd3VQBtXTAznvKjw-kwzyDMXhdD8sAj6OAJTFsBI.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

.remove-bullets-li {
  list-style-type: none;
}

body *{
  font-family: sans-serif;
}

h2 {
  font-family: 'Raleway'
}

.button-a {
  background: #ddaeff;
  color: #8156a7;
}

.margin-left-15 {
  margin-left: 15px;
}

.margin-bottom {
  margin-bottom: 20px;
}

.resize {
  width: 300px;
  height: auto;
}

.border-divider-btm {
  border-bottom: 1px solid #ddd;
}

.h10 {
  height: 10px;
}

.h2 {
  height: 2px;
}

.height100percent {
  height: 100%;
}

.inline {
  display: inline;
}

.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}
.text-nowrap {
  white-space: nowrap;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.black-background {
  background-color: black;
}

.blue-background {
  background-color: #004756;
}

.white-background {
  background-color: #fff;
}

.light-grey-background {
  background-color: #D3D3D3;
}

.inline {
  display: inline;
}

.white-font {
  color: white;
}

.padding-top-10px {
  padding-top: 5px;
}

