/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require base
 *= require buttons
 *= require forms
 *= require grids-core
 *= require grids-responsive
 *= require grids-units
 *= require grids
 *= require menus-core
 *= require menus-nr
 *= require menus-paginator
 *= require menus
 *= require pure
 *= require tables
 *= require jquery.gridster.css
 *= require_self
 */

body {
  background-color: #004756;
}

li {
  background-color: #fff;
  overflow: scroll;
}

ul {
  list-style-type: none;
}

.margin-left-15 {
  margin-left: 15px;
}

.margin-bottom {
  margin-bottom: 20px;
}

.resize {
  width: 300px;
  height: auto;
}

.border-divider-btm {
  border-bottom: 1px solid #ddd;
}

.h10 {
  height: 10px;
}

.resize-icon {
  margin-left: 50px;
  margin-right: auto;
  width: 200px;
  height: auto;
}

.inline {
  display: inline;
}

.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}
.text-nowrap {
  white-space: nowrap;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.thumbnail {
  display: block;
  padding: 4px;
  margin-bottom: 20px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: border .2s ease-in-out;
       -o-transition: border .2s ease-in-out;
          transition: border .2s ease-in-out;
}

.thumbnail > img,
.thumbnail a > img {
  margin-right: auto;
  margin-left: auto;
}

a.thumbnail:hover,
a.thumbnail:focus,
a.thumbnail.active {
  border-color: #337ab7;
}

.thumbnail .caption {
  padding: 9px;
  color: #333;
}

.thumbnail .caption {
  padding: 9px;
  color: #333;
}

.room {
  position: relative;
  width: 100%;
}

.price {
  position: absolute;
  width: 30px;
  top: 10px;
  margin-left: 5px;
  background-color: rgba(60,63,64,0.9);
}